.wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.left {
  display: flex;
  align-items: center;
  gap: 8px;
}
.right {
  display: flex;
  align-items: center;
  gap: 6px;
}
