@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.container {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 40px;
  padding: 8px 12px;
  overflow-x: auto;
}

.tag {
  display: inline-flex;
  align-items: center;
  animation: fadeIn 0.12s ease-in;
  margin: 0;
}

.item {
  display: inline-flex;
  align-items: center;
}
